
body {
  font-family: 'Freckle Face', cursive;
  font-family: 'Pangolin', cursive;
}

h1 {
  font-family: 'Freckle Face', cursive;
  text-transform: uppercase;
}

a {
  width: 50px;
}



.about {
  height: 100vh;
  background-color: yellow;
}
