
body {
  font-family: 'Freckle Face', cursive;
  font-family: 'Pangolin', cursive;
}

h1 {
  font-family: 'Freckle Face', cursive;
  text-transform: uppercase;
}

.about {
  height: 100vh;
  background-color: yellow;
  justify-content: space-between;
  align-items: center;
}

.medias {
  height: 100px;
  background-color: #003cb3;
  align-items: center
}

.nav {
  color: #ccccff;
  text-decoration: none;
  text-shadow: 2px 2px 3px grey
  
}
