
body {
  font-family: 'Freckle Face', cursive;
  font-family: 'Pangolin', cursive;
}

h1 {
  text-transform: uppercase;
}

.medias {
  justify-content: space-between;
}

.about {
  height: 100vh;
  background-color: yellow;
}
